
/* 전체설정 */
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

/* 배경 이미지 */
#backgroundImg {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E8E8E8FF;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-image: url("../img/backImg.jpg");*/
}

/* 회원가입창 틀*/
#joinB {
    position: relative;
    width: 800px;
    height: 840px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  -6px -20px 35px #ffffff,
    -6px -10px 15px #ffffff, -20px 0px 30px #ffffff, 6px 20px 25px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.82);

}

/* 회원가입창 내부 */
#joinS {
    align-items: center;
    justify-items: center;
    /*display: block;*/
    /*position: fixed;*/
    /*padding-top: 20px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

#joinS1, #joinS2 {
    padding-top: 420px;
    padding-left: 60px;
    display: inline-block;
    vertical-align: top; /* 상단 정렬 */
    width: 300px; /* 너비 설정 */
}

/* 회원가입 버튼 */
#joinBtn {
    position: absolute;
    left: 680px;
    top: 320px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    border: black solid 2px;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.34);
    transition: borer, background-color, 0.3s;
}

/* 회원가입이 버튼 비활성화 상태일 때 */
#joinBtn:disabled {
    border: #ce1b1b 2px solid;
}

/* 회원가입이 버튼 활성화 상태일 때 */
#joinBtn:enabled {
    border: green 2px solid;
    background-color: rgba(255, 255, 255, 0.66);
}

/* 입력창 */
.input {
    background-color: transparent;
    border: transparent;
    width: 260px;
    height: 40px;
    font-size: 15px;
    outline: none;
}

/* 입력창 테두리 */
.inputBox {
    width: 300px;
    height: 40px;
    border: black 2px solid;
    margin-bottom: 3px;
    text-align: center;
    border-radius: 15px;
    background-color: transparent;
    transition: background-color, border, 0.3s;
}

/* 입력창에 호버될 때 배경색 조금 더 진하게 */
.inputBox:hover {
    background-color: rgba(255, 255, 255, 0.66);
}

/* 입력창에 포커스 될 때 파란색 테두리 */
.inputBox-focus {
    border: #1717bd 2px solid;
    background-color: rgba(255, 255, 255, 0.5);
}
/* 어떤 inputBox인지 이름 표시 */
h6 {
    margin: 0;
    padding-left: 9px;
    padding-bottom: 3px;
}

/* 유효성검사 결과 글자 */
h5 {
    text-align: left;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0;
}

/* 유효성 검사 글자 */
.InputText {
    display: none;
    color: #ce1b1b;
}

/* 닫기 버튼 */
.close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color, color, 0.2s;
}

/* 닫기 버튼 호버시 */
.close:hover {
    background-color: rgba(224, 23, 23, 0.7);
    color: white;
}


/* 유효성 검사 결과 실패일 때 빨간색 테두리 */
.error {
    border: #ce1b1b 2px solid;
}

/* 유효성 검사 결과 성공일 때 초록색 테두리 */
.success {
    border: green 2px solid;
}

/* 유효성 검사 실패시 입력값 빨간색으로 - 사용중단중임 */
.errorText {
    color: #ce1b1b;
}
/* 프로필 */
#profileIcon {
    color: #213454;
    position: absolute;
    left: 50% ;transform:
        translateX(-50%);
    top: 72px;
}

/* 닉네임 반영 */
#output {
    position: absolute;
    left: 50% ;
    transform: translateX(-50%);
    top: 240px;
    font-size: 25px;
}

/* 소개글 테두리 */
.e1 {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 315px;
    left: 50%;
    border: #646161 2px solid;
    border-radius: 10px;
    transform: translateX(-50%);
    display: flex; /* Flexbox 레이아웃 적용 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    transition: borer, background-color 0.3s;
}

/* 입력창에 호버될 때 배경색 조금 더 진하게 */
.e1:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 소개글 입력창 */
.aboutMe {
    width: 270px;
    height: 70px;
    resize: none;
    background-color: transparent;
    border: transparent;
    font-size: 16px;
    font-family: Arial, sans-serif;
    outline: none;
}

/* 프로필 사진 미리보기 공간 */
#profile {
    z-index: 999;
    display: none;
    width: 160px;
    height: 160px;
    border-radius: 85px;
    position: absolute;
    left: 50% ;
    top: 72px;
    transform: translateX(-50%);
}

/* 프로필 사진 업로드 버튼 */
#imgUpload {
    position: absolute;
    margin-left: 500px;
    margin-top: 240px;

}

/* 프로필 소개 설명 텍스트 */
#profile1 {
    position: absolute;
    margin-left: 254px;
    margin-top: 278px;
}

#joinChkIcon {
    transition: color 0.3s;
}
