@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
    background: #fafafa;
}
.post {
    display: flex;
    justify-content: center;
    padding: 40px 0 10px 0;
}

/* feed */
.box-feed {
    width: 470px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}
.head-feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-feed {
    display: flex;
    align-items: center;
    padding: 15px;
}
.img-profile-32px {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #efefef;
}
.icon-more {
    /*    width: 20px;
        height: 20px;*/
    margin: 0 20px 0 0;
    font-size: 1.5rem;
    &:hover{
        color:#d5dee8;
    }
}
.userName-feed {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px 10px;
}
.location-feed {
    font-size: 12px;
    margin: 0 0 0 10px;
}
.img-feed {
    display: flex;
    width: 470px;
    align-items: center;
}
.icon-feed {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
/*.img-icon {
    width: 25px;
    margin: 0 15px 0 0;

}*/
.icon-smile{
    width: 25px;
    margin: 0 10px 0 0;
    font-size: 1.5rem;
}
.icon {
    margin: 0 15px 0 0;
    font-size: 1.5rem;
    &:hover{
        color: #d5dee8;
    }
}

/*북마크 눌려있을 경우*/
.icon-book-pushed {
    margin: 0 15px 0 0;
    font-size: 1.5rem;
}
/*좋아요 눌려있을 경우*/
.icon-like-pushed {
    margin: 0 15px 0 0;
    font-size: 1.5rem;
    color:red;
}

/* 게시글 */
.content {
    margin: 0 15px 5px 15px;
}
/*해시태그*/
#tags {
    margin: 0 15px 5px 15px;
    font-size: 11px;
    font-weight: bold;
    color: #3f729b;

}
/*댓글*/
.comment {
    display: flex;
    margin: 0 15px 5px 15px;
    word-break: break-all;
}
.post-comment {
    word-break:break-all;
}
/*좋아요 갯수*/
.text-like {
    font-size: 13px;
    font-weight: bold;
    margin: 0 15px 10px 15px;
    cursor: pointer;
}

form {
    margin: 0;
}
.box-comment {
    margin: 15px 0 20px 15px;
}
.text-comment {
    display: inline-block;
    width: 390px;
    margin: 0 0 10px 0;
    font-size: 14px;
}
.date-comment {
    /* display: inline-block; */
    /* width: 400px; */
    margin: 0 0 14px 0;
    font-size: 12px;
    color: #828282;
}
.img-heart-comment:hover,
.img-delete-comment:hover {
    cursor: pointer;
}
.img-delete-comment {
    margin: 0 0 2px 10px;
}
/* 댓글 */
.box-chat {
    border-top: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    padding: 15px;
}
.input-chat {
    width: 350px;
    height: 20px;
    border: none;
}
.btn-chat {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: rgb(0, 149, 246, 0.3);
    &:hover {
        color: rgb(0, 149, 246, 1);
    }
}

.btn-chat-effect {
    color: rgb(0, 149, 246, 1);
}
.btn-chat-effect:hover {
    cursor: pointer;
}

.show_all_comment {
    margin: 0 15px 10px 15px;
    font-size: 13px;
    color:#828282;
    cursor: pointer;
}



/*댓글 상자*/
.comment_box {
    display:none;
}


/* ------ 메뉴창 ------ */
.wrap-menu{
    display: none;
    position: absolute;
    text-align: center;
    margin-left: 475px;
    margin-top:45px;
    background-color: white;
    border-radius: 6px;
    border:1px solid #e1e1e1;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.25);
    padding: 5px;
}
.modify-menu,
.delete-menu {
    align-content: center;
    display: flex;
    &:hover{
        color: #d5dee8;
    }
}
.modify-img,
.delete-img {
    margin: 18.5px 20px;
}
.modify-word,
.delete-word {
    margin: 16px 20px 16px 0;
}
/*---- 좋아요 모달창 ---*/
.like_modal {
    display: none;
    position:fixed;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10000;
}
.like_modal_content {
    position:fixed;
    top:50%;
    width:300px;
    height:400px;
    background-color: rgb(255,255,255);
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
    justify-content: center;
    margin-left:50px;
}
.like_modal_header {
    display: flex;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
}
.like_header_none {
    flex: 0 1 auto;
}
.like_header_subject {
    text-align: center;
    flex: 0 1 300px;
    font-weight: bold;
}
.like_header_closebtn {
    flex : 0 1 auto;
}
.like_header_closebtn > span {
    position: absolute;
    margin: -8px 0 0 -20px;
    font-weight: bold;
    cursor: pointer;
}

.like_modal_body {
    width: 100%;
    height: 360px;
    align-items: center;
    overflow-y: scroll;
}
/*좋아요 모달 스크롤 숨기기*/
.like_modal_body::-webkit-scrollbar {
    display: none;
}
.like_article {
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    display: flex;
}
.like_profile {
    display: flex;
}
.like_nickName {
    font-weight: bold;
    margin: 7px 0 0 10px;
}
.follow_btn {
    width: 60px;
    height: 30px;
    background-color: #458eff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.following_btn {
    width: 60px;
    height: 30px;
    background-color: #A9A9A9;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}
/* ---  댓글 모달창  ----*/
.modal {
    display: none;
    position:fixed;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10000;
}
.close_modal {
    position: absolute;
    color: white;
    font-size: 20px;
    right: 20px;
    top:20px;
    cursor: pointer;
}

.modal_content {
    position:fixed;
    top:50%;
    width:500px;
    height:750px;
    background-color: rgb(255,255,255);
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
    justify-content: center;
    margin-left:50px;
}

.modal_header {
    display: flex;
    height: 64px;
    border: 1px solid #e1e1e1;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
    align-items: center;

}
.modal_header_feed {
    display: flex;
    align-items: center;
}
.modal_profile {

    padding: 15px;
}
/*모달창 프로필 이미지 사이즈 */
.modal_profile_32px {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #efefef;
}
/*모달창 헤더 닉네임*/
.modal_nickname {
    padding:15px 0;
    font-weight: bold;
}
/*모달창 상단 메뉴*/
.modal_menu_icon {
    margin: 0 20px 0 0;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover{
        color:#d5dee8;
    }
}

/*모달 바디*/
.modal_body {
    margin: 5px;
    align-items: center;
    overflow-y: scroll;
    width: 490px;
    height: 620px;
}
/*모달창 스크롤러 숨기기*/
.modal_body::-webkit-scrollbar {
    display: none;
}
.modal_comment_box {
    margin: 2.5px 10px 10px 0;
    display: flex;
    /*align-items: center;*/
   /* overflow: auto;*/
}
.modal_comment_replybox {
    margin: 2.5px 10px 10px 0;
    display: none;
}

/*모달 바디 프로필사진*/
.modal_comment_profileImage{
    padding: 5px 15px 0 15px;
}
.modal_comment_content {
    /*display: flex;*/
    align-items: center;
}
.modal_comment_nickname {
    font-weight: bold;
}
.modal_comment {
  /*  padding:0 10px;*/
    word-break: break-all;
    margin: 3px 0 0 0;
}
/*답글달기*/
.modal_replycomment{
    font-size: 13px;
    color: #A9A9A9;
    cursor: pointer;
    margin: 5px 0 0 0;
}
.show_more_reply_comment {
    font-size: 13px;
    color: #A9A9A9;
    cursor: pointer;
    margin: 10px 0 0 0;
}
/*모달창 댓글*/
.modal_box_chat{
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    padding: 15px;
}
.modal_input-chat {
    width: 400px;
    height: 25px;
    border: none;
}