@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
    background: #fafafa;
}
.post {
    display: flex;
    justify-content: center;
    padding: 40px 0 10px 0;
}

/* feed */
.box-feed {
    width: 470px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}
.head-feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-feed {
    display: flex;
    align-items: center;
    padding: 15px;
}
.img-profile-32px {
    width: 32px;
    border-radius: 100%;
    border: 1px solid #efefef;
}
.icon-more {
    /*    width: 20px;
        height: 20px;*/
    margin: 0 20px 0 0;
    font-size: 1.5rem;
    &:hover{
        color:#d5dee8;
    }
}
.userName-feed {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px 10px;
}
.location-feed {
    font-size: 12px;
    margin: 0 0 0 10px;
}
.img-feed {
    display: flex;
    width: 470px;
    align-items: center;
}
.icon-feed {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
/*.img-icon {
    width: 25px;
    margin: 0 15px 0 0;

}*/
.icon-smile{
    width: 25px;
    margin: 0 10px 0 0;
    font-size: 1.5rem;
}
.icon {
    margin: 0 15px 0 0;
    font-size: 1.5rem;
    &:hover{
        color: #d5dee8;
    }
}

/*북마크 눌려있을 경우*/
.icon-book-pushed {
    margin: 0 15px 0 0;
    font-size: 1.5rem;
}
/*좋아요 눌려있을 경우*/
.icon-like-pushed {
    margin: 0 15px 0 0;
    font-size: 1.5rem;
    color:red;
}

/* 게시글 */
.content {
    margin: 0 15px 5px 15px;
}
/*해시태그*/
#tags {
    margin: 0 15px 5px 15px;
    font-size: 11px;
    font-weight: bold;
    color: #3f729b;

}
/*댓글*/
.comment {
    display: flex;
    margin: 0 15px 5px 15px;
    word-break: break-all;
}
.post-comment {
    word-break:break-all;
}
.reply_comment {
    font-size: 8px;
    color: #A9A9A9;
    margin: 0 0 0 15px;
}
/*좋아요 갯수*/
.text-like {
    font-size: 13px;
    font-weight: bold;
    margin: 0 15px 10px 15px;
}

form {
    margin: 0;
}
.box-comment {
    margin: 15px 0 20px 15px;
}
.text-comment {
    display: inline-block;
    width: 390px;
    margin: 0 0 10px 0;
    font-size: 14px;
}
.date-comment {
    /* display: inline-block; */
    /* width: 400px; */
    margin: 0 0 14px 0;
    font-size: 12px;
    color: #828282;
}
.img-heart-comment:hover,
.img-delete-comment:hover {
    cursor: pointer;
}
.img-delete-comment {
    margin: 0 0 2px 10px;
}
/* 댓글 */
.box-chat {
    border-top: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    padding: 15px;
}
.input-chat {
    width: 350px;
    border: none;
}
.btn-chat {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: rgb(0, 149, 246, 0.3);
    &:hover {
        color: rgb(0, 149, 246, 1);
    }
}

.btn-chat-effect {
    color: rgb(0, 149, 246, 1);
}
.btn-chat-effect:hover {
    cursor: pointer;
}

.show_all_comment {
    margin: 0 15px 10px 15px;
    font-size: 13px;
    color:#828282;
    cursor: pointer;
}



/*댓글 상자*/
.comment_box {
    display:none;
}


/* ------ 메뉴창 ------ */
.wrap-menu{
    display: none;
    position: absolute;
    text-align: center;
    margin-left: 475px;
    margin-top:45px;
    background-color: white;
    border-radius: 6px;
    border:1px solid #e1e1e1;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.25);
    padding: 5px;
}
.modify-menu,
.delete-menu {
    align-content: center;
    display: flex;
    &:hover{
        color: #d5dee8;
    }
}
.modify-img,
.delete-img {
    margin: 18.5px 20px;
}
.modify-word,
.delete-word {
    margin: 16px 20px 16px 0;
}

/* ---  모달창  ----*/
.modal {
    display: none;
    position:fixed;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10000;
}
.close_modal {
    position: absolute;
    color: white;
    font-size: 20px;
    margin-right: 30px;
}

.modal_content {
    position:absolute;
    top:50%;
    width:500px;
    height:600px;
    padding:40px;
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
}

.modal_header {
    display: flex;
}