<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="org.example.member.dto.MemberDTO" alias="memberDTO"/>
        <typeAlias type="org.example.post.dto.PostDTO" alias="postDTO"/>
    </typeAliases>

    <mappers>
        <!-- 회원 관련 매퍼 파일 -->
        <mapper resource="mappers/member.xml"/>
        <!-- 게시물 관련 매퍼 파일 -->
        <mapper resource="mappers/post.xml"/>
    </mappers>

</configuration>
