<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="org.example.member.dto.MemberDTO" alias="memberDTO"/>
        <typeAlias type="org.example.post.dto.PostDTO" alias="postDTO"/>
        <typeAlias type="org.example.post.dto.ImageDTO" alias="imageDTO"/>
        <typeAlias type="org.example.post.dto.CommentDTO" alias="commentDTO"/>
        <typeAlias type="org.example.profile.dto.ProfileDTO" alias="profileDTO"/>
        <typeAlias type="org.example.message.dto.MessageDTO" alias="MessageDTO"/>
        <typeAlias type="org.example.message.dto.RoomDTO" alias="RoomDTO"/>
        <typeAlias type="org.example.message.dto.ParticipantsDTO" alias="ParticipantsDTO"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
                <property name="username" value="c##sqluser"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 회원 관련 매퍼 파일 -->
        <mapper resource="mappers/member.xml"/>
        <!-- 게시물 관련 매퍼 파일 -->
        <mapper resource="mappers/post.xml"/>
        <!-- 프로필 관련 매퍼 파일 -->
        <mapper resource="mappers/profile.xml"/>
        <!-- 메세지 관련 매퍼 파일 -->
        <mapper resource="mappers/message.xml"/>
        <!-- 채팅방 관련 매퍼 파일 -->
        <mapper resource="mappers/room.xml"/>

    </mappers>

</configuration>
